/* style */

@font-face{
    font-family: Calculator;
    src: url(font/DIGITALDREAM.ttf)
}

body{ height:100vh; margin:0; }

header{ min-height:50px; }
footer{ 
    min-height:50px; 
    background:PapayaWhip; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding: 15px
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    margin: 0 710px;
}

.screen {
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
    padding: 0 25px;
}

#display{
    font-family: Calculator;
    max-width: 280px;
}